.DS_Store
.python-environments
backups
*~
\#*#
*.elc
auto-save-list
tramp
.\#*
session.*
places
tramp
/elpa/
url
emms
/eshell/
.cask/
.SyncIgnore
ido.last
recentf
games
*_archive
*.rel
/auto/
.mc-lists.el
smex-items
ac-comphist.dat
transient/
bookmarks
