*.elc
*.rel
*_archive
*~
.SyncIgnore
.\#*
.cask/
.mc-lists.el
.python-environments
/auto/
/elpa/
/eshell/
\#*#
ac-comphist.dat
auto-save-list
backups
bookmarks
custom.el
emms
games
ido.last
init.el
places
readme.el
recentf
session.*
smex-items
themes
tramp
tramp
transient/
url
viper
